{% extends "base.html" %}
{% block content %}
<div class="steps"><b>{{ t.step6_title }}</b></div>
<h2>{{ t.review_heading }}</h2>
<p class="note">{{ t.review_subheading }}</p>

<table class="tbl" style="margin:16px 0 24px">
  <tr>
    <th style="width:35%">{{ t.applicant_name_label }}</th>
    <td><b>{{ form_data.get('applicant_name', '') }}</b></td>
    <td style="width:15%"><a href="/form/1">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.dob_label }}</th>
    <td>{{ form_data.get('dob', '') }}</td>
    <td><a href="/form/1">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.gender_label }}</th>
    <td>{{ form_data.get('gender', '') }}</td>
    <td><a href="/form/1">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.marital_status_label }}</th>
    <td>{{ form_data.get('marital_status', '') }}</td>
    <td><a href="/form/1">{{ t.edit_link }}</a></td>
  </tr>
  {% if form_data.get('husband_name') %}
  <tr>
    <th>{{ t.husband_name_label }}</th>
    <td>{{ form_data.get('husband_name', '') }}</td>
    <td><a href="/form/1">{{ t.edit_link }}</a></td>
  </tr>
  {% endif %}
  <tr>
    <th>{{ t.village_label }}</th>
    <td>{{ form_data.get('village', '') }}</td>
    <td><a href="/form/2">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.block_label }}</th>
    <td>{{ form_data.get('block', '') }}</td>
    <td><a href="/form/2">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.bank_account_label }}</th>
    <td><code>{{ mask_account(form_data.get('bank_account', '')) }}</code></td>
    <td><a href="/form/3">{{ t.edit_link }}</a></td>
  </tr>
  <tr>
    <th>{{ t.ifsc_label }}</th>
    <td>{{ form_data.get('ifsc', '') }}</td>
    <td><a href="/form/3">{{ t.edit_link }}</a></td>
  </tr>
</table>

<h2>{{ t.declaration_heading }}</h2>
<p class="note">{{ t.declaration_text }}</p>
<form method="post">
  <p><input type="checkbox" name="agree" required> <b>{{ t.agree_checkbox }}</b></p>
  <p><button class="btn" type="submit">{{ t.submit_btn }}</button></p>
</form>
{% endblock %}
